doctype html
html
  head
    meta(charset='utf-8')
    title 張源興（完稿）
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='seo')
    meta(name='description', content='網站敘述')
    meta(property='og:title', content='網頁標題')
    meta(property='og:image', content='要顯示的封面圖片路徑')
    meta(property='og:url', content='網址')
    meta(property='og:description', content='網站簡述')
    link(rel='stylesheet', href='css/plugins.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='icon', type='image/png', href='img/favicon.png')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    p 123456
    .header-top
        span
    header.header.header2.sticky-header
      .header-top.custom
        .container
          ul.top-menu.hidden-sm.hidden-xs.pull-right.sp13
            li.active
              a(href='javascript:void(0)', title='繁體中文') 繁體中文
            li
              a(href='javascript:void(0)', title='English') English
          ul.top-menu.pull-left.sp1
            li.active
              a(href='index.html', title='張源興股份有限公司') 張源興股份有限公司
            li
              a(href='index.html', title='CHANG YUAN SHING INDUSTRIAL Co.,Ltd.')
                | CHANG YUAN SHING INDUSTRIAL
                | Co.,Ltd.
      .header-inner
        .container
          .menu-flex-sm
            a.site-logo(href='index.html', title='張源興股份有限公司')
              img.lazy(src='img/logo.jpg', alt='張源興股份有限公司 Logo')
              span.sr-only 張源興股份有限公司
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav-container', aria-expanded='false')
              span.toggle-text Menu
              span.toggle-wrapper
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          #main-nav-container.collapse.navbar-collapse
            nav.nav.navbar-nav
              h2.sr-only Navigation
              li.active
                a.wow.fadeInDown(href='index.html', data-wow-delay='0.5s', role='button', title='首頁') 首頁
              li.dropdown
                a.dropdown-toggle.sp2.wow.fadeInDown(href='javascript:void(0)', data-wow-delay='0.7s', data-toggle='dropdown', role='button', aria-expanded='false', title='關於我們')
                  | 關於我們
                  span.angle
                ul.dropdown-menu.animated.fadeIn(role='menu')
                  li
                    a(href='ab.html', title='關於我們 1') 關於我們 1
                  li
                    a(href='ab.html', title='關於我們 2') 關於我們 2
                  li
                    a(href='ab.html', title='關於我們 3') 關於我們 3
              li.dropdown
                a.dropdown-toggle.sp2.wow.fadeInDown(href='javascript:void(0)', data-wow-delay='1.1s', data-toggle='dropdown', role='button', aria-expanded='false', title='產品與服務')
                  | 產品與服務
                  span.angle
                ul.dropdown-menu.animated.fadeIn(role='menu')
                  li
                    a(href='pdt-list.html', title='物流台車雙門') 物流台車雙門
                  li
                    a(href='pdt-list.html', title='物流台車') 物流台車
                  li
                    a(href='pdt-list.html', title='棧板籠 1') 棧板籠 1
                  li
                    a(href='pdt-list.html', title='棧板籠 2') 棧板籠 2
                  li
                    a(href='pdt-list.html', title='吊掛式倉庫籠') 吊掛式倉庫籠
                  li
                    a(href='pdt-list.html', title='棧板籠 3') 棧板籠 3
                  li
                    a(href='pdt-list.html', title='倉庫籠 1') 倉庫籠 1
                  li
                    a(href='pdt-list.html', title='倉庫籠 084') 倉庫籠 084
                  li
                    a(href='pdt-list.html', title='倉庫籠 2') 倉庫籠 2
                  li
                    a(href='pdt-list.html', title='倉庫籠車') 倉庫籠車
                  li
                    a(href='pdt-list.html', title='工具箱') 工具箱
                  li
                    a(href='pdt-list.html', title='歐式倉庫籠') 歐式倉庫籠
                  li
                    a(href='pdt-list.html', title='加長倉庫籠') 加長倉庫籠
              li
                a.wow.fadeInDown(href='contact.html', data-wow-delay='0.5s', role='button', title='聯絡我們') 聯絡我們
              li.dropdown.search-dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown wow fadeInDown', data-wow-delay='1.9s', role='button', aria-expanded='false', title='搜尋')
                  span.visible-inline-xs 搜尋
                  i.fa.fa-search
                    span(style='display: none;')  
                .dropdown-menu.dropdown-menu-right(role='menu')
                  form(action='#')
                    input.form-control(type='search', placeholder='請輸入要搜尋的文字…', required='')
                    button.btn.btn-custom(type='submit')
                      i.fa.fa-search
                        span(style='display: none;')  
    main.main
      h1.sr-only main
      .page-header.larger.parallax.custom.pdt2.page-banner(style='background-image: url(img/page-banner.jpg);')
        .container
          h2 關於我們
          ol.breadcrumb
            li
              a(href='index.html', title='首頁') 首頁
            li 關於我們
      .bg-white.pb50.sp6.ab1
        .container
          .row
            aside.col-sm-12.col-md-2.sidebar.sidebar-jh
              h3.widget-title 關於我們
              nav#accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel
                  .panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed.active(href='ab.html', title='關於我們 1') 關於我們 1
                    h4.panel-title
                      a.collapsed(href='ab.html', title='關於我們 2') 關於我們 2
                    h4.panel-title
                      a.collapsed(href='ab.html', title='關於我們 3') 關於我們 3
            .col-sm-12.col-md-10
              h2.title.custom.mb25 關於我們
              .webeditor
                .row
                  .col-md-12
                    p
                      | 張源興股份公司成立於民國68年，主要產品項目為倉庫籠、物流台車、鋼絲網等產品，在倉庫物流製造業佔有相當的市場率，本公司秉持著誠信原則，堅持最高的產品品質以及服務態度，不斷的研究創新以提供客戶需求，建立公司良好形象。
                    p 為了朝向更佳的市場形象發展，建立良好的企業文化，本公司除提供常規產品之外，還可以按客户的需求訂製各種產品，為倉儲及物流業提供絕佳的解決方案。
                  .clearfix.mb25.visible-xs.visible-sm
                  .col-md-12.mb50
                    .about-slider
                      img.lazy(data-src='img/14.jpg', alt='Image title')
    footer.footer.footer2
      .col-sm-12
        .clearfix.pt50.visible-sm.visible-xs
      h1.sr-only footer
      .container
        .row
          .col-md-12.col-lg-4.hidden-md
            .widget.about-widget.index1
              h2.sr-only 公司簡介-標語
              a(href='index.html', title='張源興股份有限公司')
                img(src='img/logo-transparent.png', alt='張源興股份有限公司 Logo')
              hr
              // 給程式看的：此處文字請包文字框，謝謝！處理完請刪除註解
              p
                | 張源興股份公司成立於民國68年，主要產品項目為倉庫籠、物流台車、鋼絲網等產品，在倉庫物流製造業佔有相當的市場率，本公司秉持著誠信原則，堅持最高的產品品質以及服務態度，不斷的研究創新以提供客戶需求，建立公司良好形象。
          .col-sm-6.col-md-6.col-lg-4
            .widget
              h2.title-border.gray.title-bg-line.jh
                span 網站選單
              ul.posts-list
                a(href='index.html', title='首頁')
                  li 首頁
                a(href='ab.html', title='關於我們')
                  li 關於我們
                a(href='pdt-list.html', title='產品與服務')
                  li 產品與服務
                a(href='contact.html', title='聯絡我們')
                  li 聯絡我們
                a(href='sitemap.html', title='網站地圖')
                  li 網站地圖
          .col-md-6.col-lg-4.hidden-xs.hidden-sm
            .widget.about-widget.index1
              h2.sr-only 公司簡介-標語
              a(href='index.html', title='張源興股份有限公司')
                img(src='img/logo-transparent.png', alt='張源興股份有限公司 Logo')
              hr
              // 給程式看的：此處文字請包文字框，謝謝！處理完請刪除註解
              p
                | 張源興股份公司成立於民國68年，主要產品項目為倉庫籠、物流台車、鋼絲網等產品，在倉庫物流製造業佔有相當的市場率，本公司秉持著誠信原則，堅持最高的產品品質以及服務態度，不斷的研究創新以提供客戶需求，建立公司良好形象。
          .col-sm-6.col-md-6.col-lg-4
            .widget
              h2.title-border.gray.title-bg-line.jh
                span 聯絡我們
              address.about-list
                .webeditor
                  li
                    .content-block
                      i.fa.fa-home
                        span(style='display: none;')  
                      .about-content.about-list-content
                        | 雲林縣元長鄉客厝村振興路76號
                    .content-block
                      i.fa.fa-phone
                        span(style='display: none;')  
                      .about-list-content
                        ul.about-list-tel
                          li 電話：05-7885276(總機)
                          li 傳真：05-7885857
                    .content-block
                      i.fa.fa-envelope-o
                        span(style='display: none;')  
                      .about-list-content
                        | cys.chang@msa.hinet.net
      .footer-bottom.text-center
        .container
          p.copyright.jh
            | 張源興股份有限公司 版權所有 © 2019 
            a(href='http://www.Atteipo.com.tw', target='_blank', title='首岳資訊') Atteipo
            | .
      a#scroll-top(href='#top', title='Scroll top')
        i.fa.fa-angle-up
          span(style='display: none;')  
    script(src='js/plugins.min.js')
    script(src='js/spectragram.min.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/main.js')
    script(src='js/modernizr.js')
    script(src='js/jquery.elevateZoom.min.js')
    script(type='text/javascript', src='js/jquery.lazy.min.js')
    script(type='text/javascript', src='js/jquery.lazy.control.js')
    // 只有首頁才使用 START
    script(type='text/javascript', src='js/jquery.themepunch.tools.min.js')
    script(type='text/javascript', src='js/jquery.themepunch.revolution.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.actions.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.carousel.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.kenburn.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.layeranimation.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.migration.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.navigation.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.parallax.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.slideanims.min.js')
    script(type='text/javascript', src='js/extensions/revolution.extension.video.min.js')
    script(type='text/javascript', src='js/rev_slider.controller.js')
    // 只有首頁才使用 END
